body {    
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}
.my_photo{
    background: url(../image/my_photo.jpg) no-repeat center center;
    background-size: 100%;
    width: 374px;
    height: 320px;
}

.nav_logo{
    background: url(../image/logo.png) no-repeat center center;
    background-size: 100%;
    width: 51px;
    height: 53px;
}

.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}
.container {
    margin-top: 30px;
}

.char h1 {
    font-weight: bold;
}
.chars .col-4{
        width: 15%;
        margin: 10px;

    }
.chars .row {
    color: white;
    text-align: center;
    justify-content: center;
    padding: 5px;
    border: 3px solid aqua;
    border-radius: 10px;
}

.button_js {
    text-align: center;
}

#myButton {
    color: white;
    width: 120px;
    height: 40px;
    font-weight: bold;
    background-color: #093046;
    text-align: center;
    border: 3px solid aqua;
    border-radius: 10px;
}

#demo img{
    margin: 20px;
    width: 30%;
}

.row {
}
.col-8 {
}
.col-4 {
}
.col-3.nav_logo {
}
.col-9 {
}
.img_size {
}
.title_photo {
    text-align: center;
}

form{
    margin-top: 15%;
    width: 100%;
    text-align: center;
}
.form {
    padding: 5px;
    width: 25%;
    margin: 5px;
    border: solid 2px aqua;
    border-radius: 7px;
    background-color: cadetblue;
}

.btn__reg {
    color: white;
    width: 120px;
    height: 30px;
    font-weight: bold;
    background-color: #093046;
    text-align: center;
    border: 3px solid aqua;
    border-radius: 10px;
}

.reg_name {
    text-align: center;
}
.for_pub {
    text-align: center;
    justify-content: center;
    /* margin: auto; */
    
}
.pub {
    margin-left: 15%;
    margin-top: -30px;
    justify-self: center;
    width: 70%;
    justify-content: center;
    padding: 10px;
    align-items: center;
    text-align: center;
    border: solid 2px aqua;
    border-radius: 7px;
    margin-bottom: 10px;
}

.in_pub {
    width: 100%;
    margin:0;
}
.text_pub {
    margin:0;
    width: 90%;
    padding: 5px;
    margin: 5px;
    border: solid 2px aqua;
    border-radius: 7px;
    background-color: cadetblue;
}

.btn__post {
    margin:0;
    margin-bottom: 5px;
    color: white;
    padding: 5px;
    font-weight: bold;
    background-color: #093046;
    text-align: center;
    border: 3px solid aqua;
    border-radius: 10px;
}

.index {
    text-align: center;
}

.log_in {
    text-align: center;
    align-items: center;
}
.form__reg {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
}
.log_in input {
    margin-left: 35%;
    width: 30%;
    /* display: flex; */
    /* float:left; */
}